<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239682690514-7mgqj17koc2leth0u96cb6bgiokiplpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239682690514-7mgqj17koc2leth0u96cb6bgiokiplpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBQgKGXLBfmts4_0EedAk3TCdu3EzmOW3c</string>
	<key>GCM_SENDER_ID</key>
	<string>239682690514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.watchApp</string>
	<key>PROJECT_ID</key>
	<string>watch-app-72f39</string>
	<key>STORAGE_BUCKET</key>
	<string>watch-app-72f39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239682690514:ios:2d80b619d5cad7e880fc0b</string>
</dict>
</plist>